@tailwind base;
@tailwind components;
@tailwind utilities;

.game-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.game-layout > * + * {
  margin-top: 30px;
}

@media (max-width: 1700px) {
  .game-layout > * + * {
    margin-top: 24px;
  }
}

.crash-game {
  padding: 200px 0 0;
  height: 100%;
  min-height: 200px;
  border-radius: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
  aspect-ratio: 990/615;
  overflow: hidden;
}

.crash-game-status {
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 24px;
  display: flex;
  align-items: center;
}

.crash-game-status > .perfect {
  background: #05d3dd;
}

.crash-game-status > .perfect:before {
  animation: crash_ripple 0.4s linear infinite;
}

.crash-game-status > .perfect:after,
.crash-game-status > .perfect:before {
  border: 1px solid #05d3dd;
}

.crash-game-status > .good {
  background: #05d3dd;
}

.crash-game-status > .good:before {
  animation: crash_ripple 0.7s linear infinite;
}

.crash-game-status > .good:after,
.crash-game-status > .good:before {
  border: 1px solid #05d3dd;
}

.crash-game-status > .medium {
  background: #fcb122;
}

.crash-game-status > .medium:before {
  animation: crash_ripple 1.6s linear infinite;
}

.crash-game-status > .medium:after,
.crash-game-status > .medium:before {
  border: 1px solid #fcb122;
}

.crash-game-status > .bad {
  background: #f03276;
}

.crash-game-status > .bad:before {
  animation: crash_ripple 3s linear infinite;
}

.crash-game-status > .bad:after,
.crash-game-status > .bad:before {
  border: 1px solid #f03276;
}

.crash-game-status > span {
  width: 8px;
  height: 8px;
  margin-left: 12px;
  border-radius: 50%;
  flex-shrink: 0;
}

.crash-game-status > span:after,
.crash-game-status > span:before {
  content: '';
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  top: 8px;
  right: 0;
  bottom: 0;
  left: calc(100% - 8px);
  border-radius: 50%;
}

@media (max-width: 767px) {
  .crash-game-status {
    right: 16px;
    top: 19px;
  }
}

@keyframes crash_ripple {
  0% {
    transform: scale(1.3);
  }

  50% {
    transform: scale(2);
    opacity: 1;
  }

  to {
    transform: scale(3);
    opacity: 0;
  }
}

.gameLatest {
  display: flex;
  position: absolute;
  z-index: 9;
}

.gameLatestHorizontal {
  flex-wrap: wrap;
}

.gameLatestHorizontal > * {
  margin: 0 4px 8px;
}

.gameLatestItem {
  padding: 3px 9px;
  font-weight: 600;
  font-size: 1rem;
  line-height: 115%;
  letter-spacing: 0.2px;
  color: #fff;
  border-radius: 8px;
  white-space: nowrap;
  flex-shrink: 0;
}

@media (max-width: 560px) {
  .gameLatestItem {
    padding: 3px 8px;
  }
}

.gameLatestItemPurple {
  background: #af3bd8;
}

.gameLatestItemYellow {
  background: #fcb122;
}

.gameLatestItemRed {
  background: linear-gradient(180deg, #ff7171 0%, #ff4949 100%);
}

.gameLatestItemNeutral {
  background: #39416d;
}

.gameLatestItemBlue {
  background: linear-gradient(180deg, #8b75ff 0%, #6f3bdd 100%);
}

.past-bets > * {
  font-variant-numeric: tabular-nums;
  will-change: transform;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

.past-bets > *:nth-child(2n) {
  animation-name: bets-slideEven;
}

.past-bets > *:nth-child(odd) {
  animation-name: bets-slideOdd;
}

.past-bets.full > *:last-child {
  animation-name: bets-slideOut;
}

@keyframes bets-slideOdd {
  0% {
    transform: translate(100%);
  }
}

@keyframes bets-slideEven {
  0% {
    transform: translate(100%);
  }
}

@keyframes bets-slideOut {
  0% {
    transform: translate(100%);
  }

  to {
    transform: translate(0);
    opacity: 0;
    pointer-events: none;
  }
}

::-webkit-scrollbar {
    height: 5px;
    width: 3px
}

::-webkit-scrollbar-thumb {
    background: #e8bb27bd;
    border-radius: 10px
}

::-webkit-scrollbar-track {
    background: #ffffff14;
    border-radius: 8px
}

::-webkit-scrollbar-thumb:hover {
    background: #fff
}
